.checkout__container{
    width: 1500px;
    
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: auto;
   margin-top: 10px ;
}

.checkout__title{
    margin:15px;
}

.checkout__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-width: 300px;
    max-height: 250px;
    margin: 0 10px 10px 10px;
    padding: 10px;
    border: 1px solid;
    background-color: gainsboro;
}

.checkout__right> .button {
    padding: 13px;
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;

  }